/* Oculta scrollbars */
.scroll-hidden {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.scroll-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari e Opera */
}

body {
  margin: 0;
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);
}

/* src/index.css ou App.css */
.safe-top {
  padding-top: env(safe-area-inset-top);
}
.safe-bottom {
  padding-bottom: env(safe-area-inset-bottom);
}

/* SafeAreaLayout.css */
.safe-area-container {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  min-height: 100vh;
  box-sizing: border-box;
  background-color: #0f172a; /* Exemplo de fundo escuro */
  color: #e0e7ff;
  font-family: monospace;
}
